playbook/cortex_xsoar_playbook.json
{
  "id": "K8s Container Escape - Spring4Shell Containment",
  "version": -1,
  "name": "K8s Container Escape - Spring4Shell Containment",
  "description": "Automated incident response playbook for Spring4Shell (CVE-2022-22965) container escape on EKS. Orchestrates containment via AWS Lambda to isolate compromised pods, revoke RBAC, apply NetworkPolicies, and collect forensic evidence.",
  "starttaskid": "0",
  "tasks": {
    "0": {
      "id": "0",
      "taskid": "start",
      "type": "start",
      "task": {
        "id": "start",
        "name": "",
        "iscommand": false,
        "brand": "",
        "description": ""
      },
      "nexttasks": {
        "#none#": ["1"]
      },
      "separatecontext": false,
      "view": { "position": { "x": 450, "y": 50 } }
    },
    "1": {
      "id": "1",
      "taskid": "triage",
      "type": "regular",
      "task": {
        "id": "triage",
        "name": "Triage - Detect Spring4Shell Indicators",
        "description": "Check for Spring4Shell RCE indicators: webshell creation (shell.jsp), suspicious class loader manipulation, CVE-2022-22965 signatures in WAF/IDS logs.",
        "iscommand": false,
        "brand": ""
      },
      "nexttasks": {
        "#none#": ["2"]
      },
      "scriptarguments": {},
      "separatecontext": false,
      "view": { "position": { "x": 450, "y": 200 } }
    },
    "2": {
      "id": "2",
      "taskid": "collect_evidence",
      "type": "regular",
      "task": {
        "id": "collect_evidence",
        "name": "Collect Evidence - Pod Forensics",
        "description": "Invoke Lambda to collect forensic evidence: pod config (privileged, hostPID, hostNetwork, hostPath), pod logs, events, RBAC bindings, service account tokens.",
        "iscommand": true,
        "brand": "AWS - Lambda",
        "script": "aws-lambda-invoke"
      },
      "scriptarguments": {
        "functionName": { "simple": "k8s-escape-demo-containment" },
        "payload": { "simple": "{\"action\": \"collect_evidence\", \"cluster_name\": \"eks-escape-demo\", \"namespace\": \"vuln-app\"}" },
        "region": { "simple": "eu-west-3" }
      },
      "nexttasks": {
        "#none#": ["3"]
      },
      "separatecontext": false,
      "view": { "position": { "x": 450, "y": 370 } }
    },
    "3": {
      "id": "3",
      "taskid": "severity_check",
      "type": "condition",
      "task": {
        "id": "severity_check",
        "name": "Auto-Contain?",
        "description": "Check severity. If privileged pod with cluster-admin SA detected, auto-contain. Otherwise, request analyst approval.",
        "iscommand": false,
        "brand": ""
      },
      "conditions": [
        {
          "label": "Critical - Auto-Contain",
          "condition": [
            [
              {
                "left": { "value": { "simple": "${incident.severity}" } },
                "operator": "isEqualNumber",
                "right": { "value": { "simple": "4" } }
              }
            ]
          ]
        }
      ],
      "nexttasks": {
        "Critical - Auto-Contain": ["4"],
        "#default#": ["3a"]
      },
      "separatecontext": false,
      "view": { "position": { "x": 450, "y": 540 } }
    },
    "3a": {
      "id": "3a",
      "taskid": "manual_approval",
      "type": "condition",
      "task": {
        "id": "manual_approval",
        "name": "Analyst Approval Required",
        "description": "Analyst must approve containment actions before proceeding. Review evidence and confirm.",
        "iscommand": false,
        "brand": ""
      },
      "nexttasks": {
        "Approve": ["4"],
        "Reject": ["9"]
      },
      "separatecontext": false,
      "view": { "position": { "x": 700, "y": 700 } }
    },
    "4": {
      "id": "4",
      "taskid": "network_isolate",
      "type": "regular",
      "task": {
        "id": "network_isolate",
        "name": "Step 1 - Network Isolation",
        "description": "Apply deny-all NetworkPolicy on the vuln-app namespace to block all ingress and egress traffic. This immediately stops the attacker's C2 communication and prevents lateral movement.",
        "iscommand": true,
        "brand": "AWS - Lambda",
        "script": "aws-lambda-invoke"
      },
      "scriptarguments": {
        "functionName": { "simple": "k8s-escape-demo-containment" },
        "payload": { "simple": "{\"action\": \"network_isolate\", \"cluster_name\": \"eks-escape-demo\", \"namespace\": \"vuln-app\"}" },
        "region": { "simple": "eu-west-3" }
      },
      "nexttasks": {
        "#none#": ["5"]
      },
      "separatecontext": false,
      "view": { "position": { "x": 450, "y": 870 } }
    },
    "5": {
      "id": "5",
      "taskid": "revoke_rbac",
      "type": "regular",
      "task": {
        "id": "revoke_rbac",
        "name": "Step 2 - Revoke RBAC Privileges",
        "description": "Delete the cluster-admin ClusterRoleBinding for the vuln-app ServiceAccount. This revokes full cluster access and prevents further K8s API abuse (secret exfiltration, lateral movement).",
        "iscommand": true,
        "brand": "AWS - Lambda",
        "script": "aws-lambda-invoke"
      },
      "scriptarguments": {
        "functionName": { "simple": "k8s-escape-demo-containment" },
        "payload": { "simple": "{\"action\": \"revoke_rbac\", \"cluster_name\": \"eks-escape-demo\", \"namespace\": \"vuln-app\"}" },
        "region": { "simple": "eu-west-3" }
      },
      "nexttasks": {
        "#none#": ["6"]
      },
      "separatecontext": false,
      "view": { "position": { "x": 450, "y": 1040 } }
    },
    "6": {
      "id": "6",
      "taskid": "scale_down",
      "type": "regular",
      "task": {
        "id": "scale_down",
        "name": "Step 3 - Scale Down Deployment",
        "description": "Scale the vuln-app deployment to 0 replicas. This terminates all running pods while preserving the deployment configuration for forensic analysis.",
        "iscommand": true,
        "brand": "AWS - Lambda",
        "script": "aws-lambda-invoke"
      },
      "scriptarguments": {
        "functionName": { "simple": "k8s-escape-demo-containment" },
        "payload": { "simple": "{\"action\": \"scale_down\", \"cluster_name\": \"eks-escape-demo\", \"namespace\": \"vuln-app\"}" },
        "region": { "simple": "eu-west-3" }
      },
      "nexttasks": {
        "#none#": ["7"]
      },
      "separatecontext": false,
      "view": { "position": { "x": 450, "y": 1210 } }
    },
    "7": {
      "id": "7",
      "taskid": "cordon_node",
      "type": "regular",
      "task": {
        "id": "cordon_node",
        "name": "Step 4 - Cordon Compromised Node",
        "description": "Mark the node that ran the compromised pod as unschedulable. This prevents new workloads from being placed on a potentially compromised host.",
        "iscommand": true,
        "brand": "AWS - Lambda",
        "script": "aws-lambda-invoke"
      },
      "scriptarguments": {
        "functionName": { "simple": "k8s-escape-demo-containment" },
        "payload": { "simple": "{\"action\": \"cordon_node\", \"cluster_name\": \"eks-escape-demo\", \"namespace\": \"vuln-app\"}" },
        "region": { "simple": "eu-west-3" }
      },
      "nexttasks": {
        "#none#": ["8"]
      },
      "separatecontext": false,
      "view": { "position": { "x": 450, "y": 1380 } }
    },
    "8": {
      "id": "8",
      "taskid": "delete_pod",
      "type": "regular",
      "task": {
        "id": "delete_pod",
        "name": "Step 5 - Kill Compromised Pods",
        "description": "Force delete all pods in the vuln-app namespace. Combined with scale-down, this ensures no compromised containers remain running.",
        "iscommand": true,
        "brand": "AWS - Lambda",
        "script": "aws-lambda-invoke"
      },
      "scriptarguments": {
        "functionName": { "simple": "k8s-escape-demo-containment" },
        "payload": { "simple": "{\"action\": \"delete_pod\", \"cluster_name\": \"eks-escape-demo\", \"namespace\": \"vuln-app\"}" },
        "region": { "simple": "eu-west-3" }
      },
      "nexttasks": {
        "#none#": ["9"]
      },
      "separatecontext": false,
      "view": { "position": { "x": 450, "y": 1550 } }
    },
    "9": {
      "id": "9",
      "taskid": "verification",
      "type": "regular",
      "task": {
        "id": "verification",
        "name": "Verify Containment",
        "description": "Re-collect evidence to verify containment is effective: no running pods, NetworkPolicy applied, RBAC revoked, node cordoned.",
        "iscommand": true,
        "brand": "AWS - Lambda",
        "script": "aws-lambda-invoke"
      },
      "scriptarguments": {
        "functionName": { "simple": "k8s-escape-demo-containment" },
        "payload": { "simple": "{\"action\": \"collect_evidence\", \"cluster_name\": \"eks-escape-demo\", \"namespace\": \"vuln-app\"}" },
        "region": { "simple": "eu-west-3" }
      },
      "nexttasks": {
        "#none#": ["10"]
      },
      "separatecontext": false,
      "view": { "position": { "x": 450, "y": 1720 } }
    },
    "10": {
      "id": "10",
      "taskid": "close",
      "type": "title",
      "task": {
        "id": "close",
        "name": "Containment Complete",
        "description": "All containment actions executed. The compromised namespace is isolated, RBAC revoked, pods terminated, and node cordoned. Proceed with full remediation: rotate IMDS credentials, rebuild node, patch application.",
        "iscommand": false,
        "brand": ""
      },
      "nexttasks": {},
      "separatecontext": false,
      "view": { "position": { "x": 450, "y": 1890 } }
    }
  },
  "inputs": [
    {
      "key": "ClusterName",
      "value": { "simple": "eks-escape-demo" },
      "required": true,
      "description": "EKS cluster name"
    },
    {
      "key": "Namespace",
      "value": { "simple": "vuln-app" },
      "required": true,
      "description": "Kubernetes namespace to contain"
    },
    {
      "key": "Region",
      "value": { "simple": "eu-west-3" },
      "required": true,
      "description": "AWS region"
    },
    {
      "key": "AutoContain",
      "value": { "simple": "true" },
      "required": false,
      "description": "Auto-contain without analyst approval (true/false)"
    }
  ],
  "outputs": [
    {
      "contextPath": "Containment.Results",
      "description": "Results of all containment actions"
    },
    {
      "contextPath": "Containment.Evidence",
      "description": "Forensic evidence collected from the cluster"
    }
  ],
  "fromversion": "6.0.0",
  "toversion": "",
  "tags": ["Kubernetes", "Container Security", "Spring4Shell", "CVE-2022-22965", "EKS", "Incident Response"]
}
