playbook/K8s_Container_Escape_Spring4Shell_Containment.yml
id: a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d
version: -1
name: K8s Container Escape - Spring4Shell Containment
description: |-
  Automated incident response playbook for Spring4Shell (CVE-2022-22965) container escape on AWS EKS.
  Triggered by Cortex XDR issues, uses XDR issue fields (details, container_id,
  namespace, xdm.source.host.fqdn, xdm.source.host.ipv4_addresses, image_id)
  for detection and triage. Orchestrates containment via AWS Lambda to isolate
  compromised pods, revoke RBAC privileges, apply NetworkPolicies, and collect forensic evidence.

  ## Playbook Flow
  1. Triage - ExtractK8sContainerEscapeIOCs analyzes XDR issue fields
  2. Enrichment - InvokeK8sContainmentLambda collects forensic evidence via Lambda
  3. Severity Check - Auto-contain if critical, or request operator approval
  31. Operator Approval - Operator validates before containment
  4-8. Containment Actions (Network Isolation, Revoke RBAC, Scale Down, Cordon, Kill Pods)
  9. Verify - Re-collect evidence to confirm containment
  10. Complete

  ## Authentication
  - AWS credentials (Access Key, Secret Key, Session Token) are always required as base credentials
  - If AssumeRoleARN is provided: credentials are used to STS AssumeRole into a scoped role (least-privilege)
  - If AssumeRoleARN is empty: credentials are used directly to invoke Lambda
  - Same flow as the dashboard operator role pattern
  - Cluster info extracted from K8sEscape context (task #1 output)
contentitemexportablefields:
  contentitemfields:
    packID: K8sContainerEscape
    packName: K8s Container Escape Response
    itemVersion: 1.0.0
    fromServerVersion: 6.10.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: d4f7a1b2-3c8e-4d5f-9a6b-7e8f0c1d2e3a
    type: start
    task:
      id: d4f7a1b2-3c8e-4d5f-9a6b-7e8f0c1d2e3a
      version: -1
      name: ""
      description: ""
      iscommand: false
      brand: ""
      script: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: b3e8f2a1-7d6c-4e5b-8a9f-1c0d2e3f4a5b
    type: regular
    task:
      id: b3e8f2a1-7d6c-4e5b-8a9f-1c0d2e3f4a5b
      version: -1
      name: "Triage - Extract IOCs"
      description: |-
        Execute ExtractK8sContainerEscapeIOCs to analyze XDR issue fields
        and extract IOCs for Spring4Shell container escape.

        Outputs:
        - K8sEscape.Severity, K8sEscape.IsSpringShell, K8sEscape.IsWebshell
        - K8sEscape.ClusterName, K8sEscape.Namespace, K8sEscape.NodeFQDN
        - K8sEscape.ContainerID, K8sEscape.IOCs, K8sEscape.ContainmentTarget
      iscommand: true
      brand: ""
      script: ExtractK8sContainerEscapeIOCs
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - "2"
    scriptarguments:
      details:
        simple: ${incident.details}
      container_id:
        simple: ${incident.container_id}
      namespace:
        simple: ${incident.namespace}
      xdmsourcehostfqdn:
        simple: ${incident.xdmsourcehostfqdn}
      xdmsourcehostipv4addresses:
        simple: ${incident.xdmsourcehostipv4addresses}
      xdmsourceusername:
        simple: ${incident.xdmsourceusername}
      xdmsourceprocessname:
        simple: ${incident.xdmsourceprocessname}
      causality_actor_process_command_line:
        simple: ${incident.causality_actor_process_command_line}
      causality_actor_process_image_path:
        simple: ${incident.causality_actor_process_image_path}
      causality_actor_process_image_sha256:
        simple: ${incident.causality_actor_process_image_sha256}
      image_id:
        simple: ${incident.image_id}
      agent_os_type:
        simple: ${incident.agent_os_type}
      agent_os_sub_type:
        simple: ${incident.agent_os_sub_type}
      cluster_name:
        simple: ${incident.clustername.[0]}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: c5d9e3b2-8f7a-4c6d-9b0e-2a1f3e4d5c6b
    type: regular
    task:
      id: c5d9e3b2-8f7a-4c6d-9b0e-2a1f3e4d5c6b
      version: -1
      name: "Enrichment - Collect Evidence via Lambda"
      description: |-
        Invoke the K8s Containment Lambda to collect forensic evidence.
        Assumes IAM Role via STS (cross-account trust) then invokes Lambda.
        Cluster info from K8sEscape context (task #1 output).

        Evidence collected:
        - Pod configuration (privileged, hostPID, hostNetwork, hostPath mounts)
        - Pod logs (last 50 lines)
        - Kubernetes events in the namespace
        - RBAC bindings (cluster-admin associations)
        - Node status for the compromised host (from K8sEscape.NodeFQDN)
      iscommand: true
      brand: ""
      script: InvokeK8sContainmentLambda
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - "3"
    scriptarguments:
      assume_role_arn:
        simple: ${inputs.AssumeRoleARN}
      external_id:
        simple: ${inputs.ExternalID}
      aws_access_key_id:
        simple: ${inputs.AWSAccessKeyID}
      aws_secret_access_key:
        simple: ${inputs.AWSSecretAccessKey}
      aws_session_token:
        simple: ${inputs.AWSSessionToken}
      aws_region:
        simple: ${inputs.Region}
      lambda_function_name:
        simple: ${inputs.LambdaFunction}
      action:
        simple: collect_evidence
      cluster_name:
        simple: ${inputs.ClusterName}
      namespace:
        simple: ${K8sEscape.Namespace}
      node_hostname:
        simple: ${K8sEscape.NodeFQDN}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 540
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: a7b6c5d4-e3f2-4a1b-8c9d-0e1f2a3b4c5d
    type: condition
    task:
      id: a7b6c5d4-e3f2-4a1b-8c9d-0e1f2a3b4c5d
      version: -1
      name: Auto-Contain?
      description: |-
        Evaluate severity from ExtractK8sContainerEscapeIOCs output.
        - Critical + SpringShell -> Auto-contain (proceed to operator approval)
        - Other -> Request analyst approval

        In both cases, operator validation is required before containment.
      iscommand: false
      brand: ""
      script: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      "Critical - Auto-Contain":
        - "31"
      '#default#':
        - "31"
    conditions:
      - label: "Critical - Auto-Contain"
        condition:
          - - operator: isEqualString
              left:
                value:
                  simple: ${K8sEscape.Severity}
                iscontext: true
              right:
                value:
                  simple: "Critical"
          - - operator: isTrue
              left:
                value:
                  simple: ${K8sEscape.IsSpringShell}
                iscontext: true
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 710
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: f8e7d6c5-b4a3-4291-8f0e-1d2c3b4a5968
    type: condition
    task:
      id: f8e7d6c5-b4a3-4291-8f0e-1d2c3b4a5968
      version: -1
      name: Operator Approval Required
      description: |-
        Operator must review the enrichment results and approve containment actions.
        Review:
        - IOC extraction report (K8sEscape context)
        - Forensic evidence from Lambda (K8sContainment.Evidence)
        - Pod configuration, RBAC bindings, node status
        Before approving containment (network isolation, RBAC revocation, scale down, etc.)
      iscommand: false
      brand: ""
      script: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      "Approve":
        - "4"
      "Reject":
        - "10"
    conditions: []
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 880
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: e1d2c3b4-a5f6-4e7d-8c9b-0a1f2e3d4c5b
    type: regular
    task:
      id: e1d2c3b4-a5f6-4e7d-8c9b-0a1f2e3d4c5b
      version: -1
      name: "Contain: Network Isolation"
      description: |-
        Apply deny-all NetworkPolicy on the target namespace via Lambda.
        Blocks ALL ingress and egress traffic, cutting off:
        - Attacker C2 communication via the webshell
        - Lateral movement to other pods/services
        - Data exfiltration via the compromised pod
      iscommand: true
      brand: ""
      script: InvokeK8sContainmentLambda
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - "5"
    scriptarguments:
      assume_role_arn:
        simple: ${inputs.AssumeRoleARN}
      external_id:
        simple: ${inputs.ExternalID}
      aws_access_key_id:
        simple: ${inputs.AWSAccessKeyID}
      aws_secret_access_key:
        simple: ${inputs.AWSSecretAccessKey}
      aws_session_token:
        simple: ${inputs.AWSSessionToken}
      aws_region:
        simple: ${inputs.Region}
      lambda_function_name:
        simple: ${inputs.LambdaFunction}
      action:
        simple: network_isolate
      cluster_name:
        simple: ${inputs.ClusterName}
      namespace:
        simple: ${K8sEscape.Namespace}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1050
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: d2e3f4a5-b6c7-4d8e-9f0a-1b2c3d4e5f6a
    type: regular
    task:
      id: d2e3f4a5-b6c7-4d8e-9f0a-1b2c3d4e5f6a
      version: -1
      name: "Contain: Revoke RBAC Privileges"
      description: |-
        Delete the cluster-admin ClusterRoleBinding via Lambda.
        Revokes full cluster API access and prevents:
        - Secret exfiltration across namespaces
        - Deployment of additional malicious workloads
        - Kubernetes API abuse for lateral movement
      iscommand: true
      brand: ""
      script: InvokeK8sContainmentLambda
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - "6"
    scriptarguments:
      assume_role_arn:
        simple: ${inputs.AssumeRoleARN}
      external_id:
        simple: ${inputs.ExternalID}
      aws_access_key_id:
        simple: ${inputs.AWSAccessKeyID}
      aws_secret_access_key:
        simple: ${inputs.AWSSecretAccessKey}
      aws_session_token:
        simple: ${inputs.AWSSessionToken}
      aws_region:
        simple: ${inputs.Region}
      lambda_function_name:
        simple: ${inputs.LambdaFunction}
      action:
        simple: revoke_rbac
      cluster_name:
        simple: ${inputs.ClusterName}
      namespace:
        simple: ${K8sEscape.Namespace}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: a3b4c5d6-e7f8-4a9b-0c1d-2e3f4a5b6c7d
    type: regular
    task:
      id: a3b4c5d6-e7f8-4a9b-0c1d-2e3f4a5b6c7d
      version: -1
      name: "Contain: Scale Down Deployment"
      description: |-
        Scale the compromised deployment to 0 replicas via Lambda.
        Terminates all running pods while preserving the Deployment
        resource for post-incident forensic analysis.
      iscommand: true
      brand: ""
      script: InvokeK8sContainmentLambda
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - "7"
    scriptarguments:
      assume_role_arn:
        simple: ${inputs.AssumeRoleARN}
      external_id:
        simple: ${inputs.ExternalID}
      aws_access_key_id:
        simple: ${inputs.AWSAccessKeyID}
      aws_secret_access_key:
        simple: ${inputs.AWSSecretAccessKey}
      aws_session_token:
        simple: ${inputs.AWSSessionToken}
      aws_region:
        simple: ${inputs.Region}
      lambda_function_name:
        simple: ${inputs.LambdaFunction}
      action:
        simple: scale_down
      cluster_name:
        simple: ${inputs.ClusterName}
      namespace:
        simple: ${K8sEscape.Namespace}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: b4c5d6e7-f8a9-4b0c-1d2e-3f4a5b6c7d8e
    type: regular
    task:
      id: b4c5d6e7-f8a9-4b0c-1d2e-3f4a5b6c7d8e
      version: -1
      name: "Contain: Cordon Compromised Node"
      description: |-
        Mark the compromised node as unschedulable (cordon) via Lambda.
        Uses K8sEscape.NodeFQDN for targeted cordoning.
        Prevents new workloads on a potentially compromised host.
      iscommand: true
      brand: ""
      script: InvokeK8sContainmentLambda
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - "8"
    scriptarguments:
      assume_role_arn:
        simple: ${inputs.AssumeRoleARN}
      external_id:
        simple: ${inputs.ExternalID}
      aws_access_key_id:
        simple: ${inputs.AWSAccessKeyID}
      aws_secret_access_key:
        simple: ${inputs.AWSSecretAccessKey}
      aws_session_token:
        simple: ${inputs.AWSSessionToken}
      aws_region:
        simple: ${inputs.Region}
      lambda_function_name:
        simple: ${inputs.LambdaFunction}
      action:
        simple: cordon_node
      cluster_name:
        simple: ${inputs.ClusterName}
      namespace:
        simple: ${K8sEscape.Namespace}
      node_hostname:
        simple: ${K8sEscape.NodeFQDN}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: c5d6e7f8-a9b0-4c1d-2e3f-4a5b6c7d8e9f
    type: regular
    task:
      id: c5d6e7f8-a9b0-4c1d-2e3f-4a5b6c7d8e9f
      version: -1
      name: "Eradicate: Kill Compromised Pods"
      description: |-
        Force delete all pods in the compromised namespace via Lambda.
        Combined with scale-down, ensures no compromised containers
        remain running with the webshell or stolen credentials.
      iscommand: true
      brand: ""
      script: InvokeK8sContainmentLambda
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - "9"
    scriptarguments:
      assume_role_arn:
        simple: ${inputs.AssumeRoleARN}
      external_id:
        simple: ${inputs.ExternalID}
      aws_access_key_id:
        simple: ${inputs.AWSAccessKeyID}
      aws_secret_access_key:
        simple: ${inputs.AWSSecretAccessKey}
      aws_session_token:
        simple: ${inputs.AWSSessionToken}
      aws_region:
        simple: ${inputs.Region}
      lambda_function_name:
        simple: ${inputs.LambdaFunction}
      action:
        simple: delete_pod
      cluster_name:
        simple: ${inputs.ClusterName}
      namespace:
        simple: ${K8sEscape.Namespace}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1730
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: d6e7f8a9-b0c1-4d2e-3f4a-5b6c7d8e9f0a
    type: regular
    task:
      id: d6e7f8a9-b0c1-4d2e-3f4a-5b6c7d8e9f0a
      version: -1
      name: Verify Containment
      description: |-
        Re-collect evidence via Lambda to verify containment is effective:
        - No running pods in the namespace
        - NetworkPolicy deny-all is applied
        - ClusterRoleBinding is deleted
        - Compromised node is cordoned
      iscommand: true
      brand: ""
      script: InvokeK8sContainmentLambda
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - "10"
    scriptarguments:
      assume_role_arn:
        simple: ${inputs.AssumeRoleARN}
      external_id:
        simple: ${inputs.ExternalID}
      aws_access_key_id:
        simple: ${inputs.AWSAccessKeyID}
      aws_secret_access_key:
        simple: ${inputs.AWSSecretAccessKey}
      aws_session_token:
        simple: ${inputs.AWSSessionToken}
      aws_region:
        simple: ${inputs.Region}
      lambda_function_name:
        simple: ${inputs.LambdaFunction}
      action:
        simple: collect_evidence
      cluster_name:
        simple: ${inputs.ClusterName}
      namespace:
        simple: ${K8sEscape.Namespace}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1900
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: e7f8a9b0-c1d2-4e3f-4a5b-6c7d8e9f0a1b
    type: title
    task:
      id: e7f8a9b0-c1d2-4e3f-4a5b-6c7d8e9f0a1b
      version: -1
      name: Containment Complete
      description: |-
        All containment actions executed successfully.
        The compromised namespace is network-isolated, RBAC revoked,
        pods terminated, and node cordoned.

        Next steps for full remediation:
        - Rotate AWS IMDS credentials exposed via hostNetwork
        - Rebuild or replace the cordoned node
        - Patch the Spring Boot application (upgrade Spring Framework >= 5.3.18)
        - Review and harden Pod Security Standards
        - Implement least-privilege RBAC
      type: title
      iscommand: false
      brand: ""
      script: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks: {}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
inputs:
  - key: AWSAccessKeyID
    value:
      simple: ""
    required: true
    description: AWS Access Key ID (base credentials for STS AssumeRole or direct Lambda invocation)
    playbookInputQuery: null
  - key: AWSSecretAccessKey
    value:
      simple: ""
    required: true
    description: AWS Secret Access Key (base credentials)
    playbookInputQuery: null
  - key: AWSSessionToken
    value:
      simple: ""
    required: false
    description: AWS Session Token (if using temporary/STS credentials)
    playbookInputQuery: null
  - key: AssumeRoleARN
    value:
      simple: ""
    required: false
    description: "IAM Role ARN to assume for least-privilege Lambda invocation (optional - if empty, base credentials are used directly)"
    playbookInputQuery: null
  - key: ExternalID
    value:
      simple: ""
    required: false
    description: External ID for STS AssumeRole (optional, required if the role trust policy enforces it)
    playbookInputQuery: null
  - key: Region
    value:
      simple: eu-west-3
    required: true
    description: AWS region (auto-populated from dashboard settings)
    playbookInputQuery: null
  - key: LambdaFunction
    value:
      simple: k8s-escape-demo-containment
    required: true
    description: Name of the AWS Lambda containment function
    playbookInputQuery: null
  - key: ClusterName
    value:
      simple: eks-escape-demo
    required: true
    description: EKS cluster name (used if not found in issue fields)
    playbookInputQuery: null
inputSections:
  - inputs:
      - AWSAccessKeyID
      - AWSSecretAccessKey
      - AWSSessionToken
    name: AWS Credentials
    description: Base AWS credentials (used to AssumeRole or invoke Lambda directly).
  - inputs:
      - AssumeRoleARN
      - ExternalID
    name: AssumeRole (optional, recommended)
    description: If provided, base credentials are used to AssumeRole into this scoped role before invoking Lambda.
  - inputs:
      - Region
      - LambdaFunction
    name: Lambda Configuration
    description: AWS region and Lambda function name.
outputSections:
  - outputs:
      - K8sContainment.Results
      - K8sContainment.Evidence
    name: Containment Outputs
    description: Results and evidence from the containment actions.
outputs:
  - contextPath: K8sContainment.Results
    description: Results of all containment actions
  - contextPath: K8sContainment.Evidence
    description: Forensic evidence collected from the cluster
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2235,
        "width": 630,
        "x": 450,
        "y": 50
      }
    }
  }
fromversion: "6.10.0"
toversion: ""
tags:
  - Kubernetes
  - Container Security
  - Spring4Shell
  - CVE-2022-22965
  - EKS
  - Incident Response
  - AWS Lambda
  - Cortex XDR
  - XDR Issue
