playbook/K8s_Container_Escape_Spring4Shell_Containment.yml
id: K8s Container Escape - Spring4Shell Containment
version: -1
name: K8s Container Escape - Spring4Shell Containment
description: |-
  Automated incident response playbook for Spring4Shell (CVE-2022-22965) container escape on AWS EKS.
  Orchestrates containment via AWS Lambda to isolate compromised pods, revoke RBAC privileges,
  apply NetworkPolicies, and collect forensic evidence.

  ## Playbook Flow
  1. Triage - Detect Spring4Shell indicators (webshell, class loader manipulation)
  2. Collect Evidence - Pod forensics via Lambda (config, logs, events, RBAC)
  3. Severity Check - Auto-contain if critical, or request analyst approval
  4. Network Isolation - Deny-all NetworkPolicy on compromised namespace
  5. Revoke RBAC - Delete cluster-admin ClusterRoleBinding
  6. Scale Down - Scale deployment to 0 replicas
  7. Cordon Node - Mark compromised node as unschedulable
  8. Kill Pods - Force delete all compromised pods
  9. Verify - Re-collect evidence to confirm containment

starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: start
    type: start
    task:
      id: start
      name: ""
      iscommand: false
      brand: ""
      description: ""
    nexttasks:
      '#none#':
        - "1"
    separatecontext: false
    view:
      position:
        x: 450
        y: 50

  "1":
    id: "1"
    taskid: triage
    type: regular
    task:
      id: triage
      name: Triage - Detect Spring4Shell Indicators
      description: |-
        Check for Spring4Shell RCE indicators:
        - Webshell creation (shell.jsp) in Tomcat webapps
        - Suspicious class.module.classLoader manipulation in HTTP parameters
        - CVE-2022-22965 signatures in WAF/IDS logs
        - Unusual outbound connections from Java application pods
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
        - "2"
    scriptarguments: {}
    separatecontext: false
    view:
      position:
        x: 450
        y: 200

  "2":
    id: "2"
    taskid: collect_evidence
    type: regular
    task:
      id: collect_evidence
      name: Collect Evidence - Pod Forensics
      description: |-
        Invoke AWS Lambda to collect forensic evidence from the EKS cluster:
        - Pod configuration (privileged, hostPID, hostNetwork, hostPath mounts)
        - Pod logs (last 50 lines)
        - Kubernetes events in the namespace
        - RBAC bindings (cluster-admin associations)
        - Service account token details
      iscommand: true
      brand: AWS - Lambda
      script: aws-lambda-invoke
    scriptarguments:
      functionName:
        simple: ${inputs.LambdaFunction}
      payload:
        simple: '{"action": "collect_evidence", "cluster_name": "${inputs.ClusterName}", "namespace": "${inputs.Namespace}", "region": "${inputs.Region}"}'
      region:
        simple: ${inputs.Region}
    nexttasks:
      '#none#':
        - "3"
    separatecontext: false
    view:
      position:
        x: 450
        y: 370

  "3":
    id: "3"
    taskid: severity_check
    type: condition
    task:
      id: severity_check
      name: Auto-Contain?
      description: |-
        Evaluate severity based on collected evidence.
        If privileged pod with cluster-admin SA is detected (Critical severity),
        proceed with automatic containment.
        Otherwise, request analyst approval before taking action.
      iscommand: false
      brand: ""
    conditions:
      - label: Critical - Auto-Contain
        condition:
          - - left:
                value:
                  simple: ${incident.severity}
              operator: isEqualNumber
              right:
                value:
                  simple: "4"
    nexttasks:
      Critical - Auto-Contain:
        - "4"
      '#default#':
        - "3a"
    separatecontext: false
    view:
      position:
        x: 450
        y: 540

  "3a":
    id: "3a"
    taskid: manual_approval
    type: condition
    task:
      id: manual_approval
      name: Analyst Approval Required
      description: |-
        Analyst must review the collected evidence and approve containment actions.
        Review pod configuration, RBAC bindings, and forensic evidence before proceeding.
      iscommand: false
      brand: ""
    nexttasks:
      Approve:
        - "4"
      Reject:
        - "9"
    separatecontext: false
    view:
      position:
        x: 700
        y: 700

  "4":
    id: "4"
    taskid: network_isolate
    type: regular
    task:
      id: network_isolate
      name: "Contain: Network Isolation"
      description: |-
        Apply deny-all NetworkPolicy on the target namespace.
        This blocks ALL ingress and egress traffic, immediately cutting off:
        - Attacker C2 communication via the webshell
        - Lateral movement to other pods/services
        - Data exfiltration via the compromised pod
      iscommand: true
      brand: AWS - Lambda
      script: aws-lambda-invoke
    scriptarguments:
      functionName:
        simple: ${inputs.LambdaFunction}
      payload:
        simple: '{"action": "network_isolate", "cluster_name": "${inputs.ClusterName}", "namespace": "${inputs.Namespace}", "region": "${inputs.Region}"}'
      region:
        simple: ${inputs.Region}
    nexttasks:
      '#none#':
        - "5"
    separatecontext: false
    view:
      position:
        x: 450
        y: 870

  "5":
    id: "5"
    taskid: revoke_rbac
    type: regular
    task:
      id: revoke_rbac
      name: "Contain: Revoke RBAC Privileges"
      description: |-
        Delete the cluster-admin ClusterRoleBinding for the compromised ServiceAccount.
        This revokes full cluster API access and prevents:
        - Secret exfiltration across namespaces
        - Deployment of additional malicious workloads
        - Kubernetes API abuse for lateral movement
      iscommand: true
      brand: AWS - Lambda
      script: aws-lambda-invoke
    scriptarguments:
      functionName:
        simple: ${inputs.LambdaFunction}
      payload:
        simple: '{"action": "revoke_rbac", "cluster_name": "${inputs.ClusterName}", "namespace": "${inputs.Namespace}", "region": "${inputs.Region}"}'
      region:
        simple: ${inputs.Region}
    nexttasks:
      '#none#':
        - "6"
    separatecontext: false
    view:
      position:
        x: 450
        y: 1040

  "6":
    id: "6"
    taskid: scale_down
    type: regular
    task:
      id: scale_down
      name: "Contain: Scale Down Deployment"
      description: |-
        Scale the compromised deployment to 0 replicas.
        This terminates all running pods while preserving the Deployment
        resource for post-incident forensic analysis.
      iscommand: true
      brand: AWS - Lambda
      script: aws-lambda-invoke
    scriptarguments:
      functionName:
        simple: ${inputs.LambdaFunction}
      payload:
        simple: '{"action": "scale_down", "cluster_name": "${inputs.ClusterName}", "namespace": "${inputs.Namespace}", "region": "${inputs.Region}"}'
      region:
        simple: ${inputs.Region}
    nexttasks:
      '#none#':
        - "7"
    separatecontext: false
    view:
      position:
        x: 450
        y: 1210

  "7":
    id: "7"
    taskid: cordon_node
    type: regular
    task:
      id: cordon_node
      name: "Contain: Cordon Compromised Node"
      description: |-
        Mark the node that hosted the compromised pod as unschedulable (cordon).
        This prevents new workloads from being placed on a potentially
        compromised host where the attacker had root access via container escape.
      iscommand: true
      brand: AWS - Lambda
      script: aws-lambda-invoke
    scriptarguments:
      functionName:
        simple: ${inputs.LambdaFunction}
      payload:
        simple: '{"action": "cordon_node", "cluster_name": "${inputs.ClusterName}", "namespace": "${inputs.Namespace}", "region": "${inputs.Region}"}'
      region:
        simple: ${inputs.Region}
    nexttasks:
      '#none#':
        - "8"
    separatecontext: false
    view:
      position:
        x: 450
        y: 1380

  "8":
    id: "8"
    taskid: delete_pod
    type: regular
    task:
      id: delete_pod
      name: "Eradicate: Kill Compromised Pods"
      description: |-
        Force delete all pods in the compromised namespace.
        Combined with the scale-down, this ensures no compromised
        containers remain running with the webshell or stolen credentials.
      iscommand: true
      brand: AWS - Lambda
      script: aws-lambda-invoke
    scriptarguments:
      functionName:
        simple: ${inputs.LambdaFunction}
      payload:
        simple: '{"action": "delete_pod", "cluster_name": "${inputs.ClusterName}", "namespace": "${inputs.Namespace}", "region": "${inputs.Region}"}'
      region:
        simple: ${inputs.Region}
    nexttasks:
      '#none#':
        - "9"
    separatecontext: false
    view:
      position:
        x: 450
        y: 1550

  "9":
    id: "9"
    taskid: verification
    type: regular
    task:
      id: verification
      name: Verify Containment
      description: |-
        Re-collect evidence to verify containment is effective:
        - No running pods in the namespace
        - NetworkPolicy deny-all is applied
        - ClusterRoleBinding is deleted
        - Compromised node is cordoned
      iscommand: true
      brand: AWS - Lambda
      script: aws-lambda-invoke
    scriptarguments:
      functionName:
        simple: ${inputs.LambdaFunction}
      payload:
        simple: '{"action": "collect_evidence", "cluster_name": "${inputs.ClusterName}", "namespace": "${inputs.Namespace}", "region": "${inputs.Region}"}'
      region:
        simple: ${inputs.Region}
    nexttasks:
      '#none#':
        - "10"
    separatecontext: false
    view:
      position:
        x: 450
        y: 1720

  "10":
    id: "10"
    taskid: close
    type: title
    task:
      id: close
      name: Containment Complete
      description: |-
        All containment actions executed successfully.
        The compromised namespace is network-isolated, RBAC revoked,
        pods terminated, and node cordoned.

        Next steps for full remediation:
        - Rotate AWS IMDS credentials exposed via hostNetwork
        - Rebuild or replace the cordoned node
        - Patch the Spring Boot application (upgrade Spring Framework >= 5.3.18)
        - Review and harden Pod Security Standards
        - Implement least-privilege RBAC
      iscommand: false
      brand: ""
    nexttasks: {}
    separatecontext: false
    view:
      position:
        x: 450
        y: 1890

inputs:
  - key: ClusterName
    value:
      simple: eks-escape-demo
    required: true
    description: EKS cluster name
  - key: Namespace
    value:
      simple: vuln-app
    required: true
    description: Kubernetes namespace to contain
  - key: Region
    value:
      simple: eu-west-3
    required: true
    description: AWS region
  - key: LambdaFunction
    value:
      simple: k8s-escape-demo-containment
    required: true
    description: Name of the AWS Lambda containment function
  - key: AutoContain
    value:
      simple: "true"
    required: false
    description: Auto-contain without analyst approval (true/false)

outputs:
  - contextPath: Containment.Results
    description: Results of all containment actions
  - contextPath: Containment.Evidence
    description: Forensic evidence collected from the cluster

fromversion: 6.0.0
toversion: ""
tags:
  - Kubernetes
  - Container Security
  - Spring4Shell
  - CVE-2022-22965
  - EKS
  - Incident Response
  - AWS Lambda
